<div class="card bg-dark text-white">
  <div class="card-header">{{ titulo }}{{ clienteForm.touched }}</div>
  <div class="card-body">
    <form [formGroup]="clienteForm" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label for="" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" formControlName="nombre" />
        </div>
      </div>
      <div
        class="form-group row"
        *ngIf="
          clienteForm.get('nombre')?.touched &&
          clienteForm.get('nombre')?.errors
        "
      >
        <label
          *ngIf="clienteForm.get('nombre')?.getError('required')"
          class="col-form-label col-sm-12 text-danger"
          >El nombre es requerido</label
        >
      </div>
      <div class="form-group row">
        <label for="" class="col-form-label col-sm-2">Apellido</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" formControlName="apellido" />
        </div>
      </div>
      <div
        class="form-group row"
        *ngIf="
          clienteForm.get('apellido')?.touched &&
          clienteForm.get('apellido')?.errors
        "
      >
        <label
          *ngIf="clienteForm.get('apellido')?.getError('required')"
          class="col-form-label col-sm-12 text-danger"
          >El apellido es requerido</label
        >
      </div>
      <div class="form-group row">
        <label for="" class="col-form-label col-sm-2">Email</label>
        <div class="col-sm-6">
          <input type="email" class="form-control" formControlName="email" />
        </div>
      </div>
      <div
        class="form-group row"
        *ngIf="
          clienteForm.get('email')?.touched && clienteForm.get('email')?.errors
        "
      >
        <label
          *ngIf="clienteForm.get('email')?.getError('required')"
          class="col-form-label col-sm-12 text-danger"
          >El email es requerido</label
        >
        <label
          *ngIf="clienteForm.get('email')?.getError('email')"
          class="col-form-label col-sm-12 text-danger"
        >
          El formato del email es incorrecto</label
        >
      </div>
      <div class="form-group row">
        <div class="col-sm-6 text-center">
          <input
            [disabled]="!clienteForm.valid || !clienteForm.touched"
            type="submit"
            class="btn btn-primary"
            [value]="titulo"
          />
        </div>
      </div>
    </form>
  </div>
</div>
